<mat-drawer-container>

  <mat-drawer #drawer>

    <router-outlet></router-outlet>

  </mat-drawer>


  <div id="drawer-content">

    <div id="content-toolbar">

      <mat-toolbar>
        <span id="menu">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </span>

        <div *ngIf="roomDetails.room_name !== 'Public Room'; else default">
          <span>{{ roomDetails.room_name }}'s room</span>
        </div>

        <ng-template #default>
          <span>{{ roomDetails.room_name }}</span>
        </ng-template>

        <span id="details">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
        </span>
      </mat-toolbar>

    </div>

    <div id="content-container">

      <div id="chat-container">
        <div id="chat" #content>

          <div *ngFor="let message of (messages | async); let i = index" id="loop">
            <div [ngClass]="{ 'you': auth.uid !== message?.uid, 'others': auth.uid === message?.uid }" id="element">
              <div id="message-content">

                <div id="img" *ngIf="auth.uid !== message?.uid">
                  <img src="{{ message?.url }}" alt="god-madara-uchiha" width="50" height="50" (click)="onShowProfile(message)">
                </div>
                <div id="message">
                  <p>{{ message?.message }}</p>
                </div>
                <div id="img" *ngIf="auth.uid === message?.uid">
                  <img src="{{ message?.url }}" alt="god-madara-uchiha" width="50" height="50" (click)="onShowProfile(message)">
                </div>
              </div>
              <div id="message-action">
                <span>{{ message?.timestamp | timestamp }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="chat-textbox">

        <div class="w-100">
          <mat-form-field color="accent" class="w-100">
            <textarea #message matInput placeholder="Type a message." matTextareaAutosize matAutosizeMaxRows="1" maxLength="500" [(ngModel)]="textarea"></textarea>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
          </mat-form-field>
        </div>

        <div id="send">
          <button mat-icon-button (click)="onSubmit()">
            <mat-icon>send</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </div>

</mat-drawer-container>

<mat-menu #menu>
  <button mat-menu-item (click)="seeRoomDetails()">
    <mat-icon>info</mat-icon>
    Room details
  </button>
  <button mat-menu-item [routerLink]="['/', 'dashboard']">
    <mat-icon>close</mat-icon>
    Leave room
  </button>
</mat-menu>
