.mat-drawer {
  width: 70vw;
}

#drawer-content {
  height: 100vh;

  .mat-toolbar {
    display: flex;

    span {
      display: flex;
      button {
        // comment this onupload to mobile
        // margin-top: 8px;
      }
    }

    #menu {
      margin-right: 5px;
    }

    #details {
      margin-left: auto;
    }
  }

  #content-container {
    #chat-container {
      height: 79vh;

      #chat {
        height: 100%;
        width: 100vw;
        overflow: auto;

        #loop {
          display: flex;
          flex-flow: column nowrap;
        }
      }
    }

    #chat-textbox {
      height: 12vh;
      display: flex;

      .mat-form-field {
        flex-grow: 1;
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px;
        margin-left: 3vw;
      }

      #send {
        display: flex;
        width: 18vw;

        .mat-icon-button {
          margin: auto auto auto 2vw;
        }
      }

      .mat-icon {
        font-size: 2.5em;
      }
    }
  }
}

.you {
  padding: 1vh 2vh;
  width: 90vw;
  align-self: flex-start;

  #message-content {
    display: flex;

    img {
      border-radius: 100%;
      margin-right: 2vw;
    }

    #message {
      background: rgb(5, 5, 5);
      padding: 1vh 2vh;
      border-radius: 3%;
      font-size: 0.8em;
      width: 100%;

      p {
        margin: 0;
      }
    }
  }

  span {
    float: right;
    color: rgb(112, 112, 112);
    font-size: 0.8em;
  }
}

.others {
  padding: 1vh 2vh;
  width: 90vw;
  align-self: flex-end;

  #message-content {
    display: flex;

    img {
      border-radius: 100%;
      margin-left: 2vw;
    }

    #message {
      background: rgb(5, 5, 5);
      padding: 1vh 2vh;
      border-radius: 3%;
      font-size: 0.8em;
      width: 100%;

      p {
        margin: 0;
      }
    }
  }

  span {
    color: rgb(112, 112, 112);
    font-size: 0.8em;
  }
}
