#container {
  display: flex;
  height: 100vh;

  .mat-card {
    width: 80vw;
    margin: 20vh auto auto;

    #header {
      font-size: 2em;
      margin-bottom: 10px;
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-raised-button {
      float: right;
    }
  }

  span {
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 58vh;
  }
}
