<mat-drawer-container>

  <mat-drawer #drawer>

    <div *ngIf="isDrawerOpened">
      <app-drawer-content></app-drawer-content>
    </div>

  </mat-drawer>

  <div id="drawer-content">

    <mat-toolbar *ngIf="!isChatMode">

      <span>
        <button mat-icon-button (click)="drawer.toggle()" id="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </span>

      <span [routerLink]="['/', 'dashboard']">Dark Messenger</span>

      <span [ngClass]="{ 'add': !inOtherRoute }">
        <button mat-icon-button (click)="newRoom()"[ngStyle]="{ 'display': inOtherRoute ? 'none' : 'block' }" [disabled]="isAnonymous">
          <mat-icon>add_box</mat-icon>
        </button>
      </span>

      <span [ngClass]="{ 'add': inOtherRoute }">
        <button mat-icon-button [routerLink]="['/', 'dashboard']" [ngStyle]="{ 'display': !inOtherRoute ? 'none' : 'block' }" [disabled]="isAnonymous">
          <mat-icon>dashboard</mat-icon>
        </button>
      </span>

      <span>
        <button mat-icon-button [matMenuTriggerFor]="settings" id="settings">
          <mat-icon>settings</mat-icon>
        </button>
      </span>

    </mat-toolbar>

    <div id="content-container" [ngStyle]="{ 'padding-top': !isChatMode ? '11vh' : '0' }">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>

<mat-menu #settings>
  <button mat-menu-item (click)="onProfile()" [disabled]="isAnonymous">
    <mat-icon>face</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="onPreferences()" [disabled]="isAnonymous">
    <mat-icon>account_circle</mat-icon>
    Preferences
  </button>
  <button mat-menu-item (click)="onSignout()">
    <mat-icon>power_settings_new</mat-icon>
    Logout
  </button>
</mat-menu>
