<mat-drawer-container>

  <mat-drawer #drawer>

    <app-drawer-content></app-drawer-content>

  </mat-drawer>

  <div id="drawer-content">

    <mat-toolbar *ngIf="!isChatMode">

      <button mat-icon-button (click)="drawer.toggle()" id="menu">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- <span [routerLink]="['/', 'dashboard']">Chat Me</span> -->
      <span (click)="onSignout()">Chat Me</span>

      <button mat-icon-button (click)="newRoom()" [ngClass]="{ 'add': !inOtherRoute }" [ngStyle]="{ 'display': inOtherRoute ? 'none' : 'block' }">
        <mat-icon>add_box</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/', 'dashboard']" [ngClass]="{ 'add': inOtherRoute }" [ngStyle]="{ 'display': !inOtherRoute ? 'none' : 'block' }">
        <mat-icon>dashboard</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="settings" id="settings">
        <mat-icon>settings</mat-icon>
      </button>

    </mat-toolbar>

    <div id="content-container" [ngStyle]="{ 'padding-top': !isChatMode ? '11vh' : '0' }">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>

<mat-menu #settings>
  <button mat-menu-item (click)="onProfile()">
    <mat-icon>face</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="onPreferences()">
    <mat-icon>account_circle</mat-icon>
    Preferences
  </button>
  <button mat-menu-item (click)="onSignout()">
    <mat-icon>power_settings_new</mat-icon>
    Logout
  </button>
</mat-menu>
