<mat-card>
  <mat-card-content>
    <div>
      <span>Public Room</span><br>
    </div>
    <button mat-icon-button color="accent" (click)="onEnterPublic()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<hr>

<div *ngFor="let room of (rooms | async)">
  <mat-card>
    <mat-card-content>
      <div>
        <span>{{ room.room_name }}</span><br>
      </div>
      <button mat-icon-button color="accent" (click)="onEnterRoom(room)" [disabled]="isAnonymous">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
