<div id="container">

  <div id="accordion-container">
    <form [formGroup]="preferencesForm">
      <mat-accordion [displayMode]="'default'" [multi]="false">

        <mat-expansion-panel #display>
          <mat-expansion-panel-header>
            <mat-panel-title>Update display name</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <div formGroupName="updateDisplay">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>New display name</mat-label>
                <input matInput type="text" formControlName="display">
                <mat-error *ngIf="this.preferencesForm.get('updateDisplay').get('display').invalid">
                  <mat-error *ngIf="displayError.required; else error">This is required.</mat-error>
                  <ng-template #error>
                    <mat-error *ngIf="displayError.minlength; else error2">Display name too short.</mat-error>
                    <ng-template #error2>
                      <mat-error *ngIf="displayError.containsAlpha && !display.containsNone">Must contain atleast 1 lowercase character.</mat-error>
                    </ng-template>
                  </ng-template>
                </mat-error>
              </mat-form-field>
            </div>

            <mat-action-row>
              <button mat-button color="accent" type="button" (click)="onSubmit('display')">UPDATE</button>
            </mat-action-row>

          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel #email>
          <mat-expansion-panel-header>
            <mat-panel-title>Update email address</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <div formGroupName="updateEmail">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>New email address</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="this.preferencesForm.get('updateEmail').get('email').invalid">
                  <mat-error *ngIf="emailError.required">This is required.</mat-error>
                  <mat-error *ngIf="emailError.pattern">Not a valid email address.</mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <mat-action-row>
              <button mat-button color="accent" type="button" (click)="onSubmit('email')">UPDATE</button>
            </mat-action-row>

          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel #password>
          <mat-expansion-panel-header>
            <mat-panel-title>Update password</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <div formGroupName="updatePassword">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>New password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="this.preferencesForm.get('updatePassword').get('password').invalid">
                  <mat-error *ngIf="passwordError.required">This is required.</mat-error>
                  <mat-error *ngIf="passwordError.minlength">Password too short.</mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Repeat new password</mat-label>
                <input matInput type="password" formControlName="confirm">
                <mat-error *ngIf="this.preferencesForm.get('updatePassword').get('confirm').invalid">
                  <mat-error *ngIf="confirmError.required">This is required.</mat-error>
                  <mat-error *ngIf="confirmError.isNotMatched">Password not matched.</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-button color="accent" type="button" (click)="onSubmit('password')">UPDATE</button>
            </mat-action-row>

          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel #avatar>
          <mat-expansion-panel-header>
            <mat-panel-title>Change avatar</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <div>
              <div *ngIf="newUrl === ''; else url" id="img-container">
                <img src="{{ upload?.url || (user | async)?.avatar?.url }}" alt="god-madara-uchiha" width="200" height="200">
              </div>
              <ng-template #url>
                <div id="img-container">
                  <img src="{{ newUrl }}" alt="god-madara-uchiha" width="200" height="200" (load)="showClear = true">
                </div>
              </ng-template>
            </div>

            <div id="btn-container">
              <div class="m-auto">
                <input type="file" #file class="d-none" (change)="onChange($event)">
                <button mat-icon-button type="button" color="accent" (click)="file.click()">
                  <mat-icon>photo</mat-icon>
                </button>
                <button mat-icon-button type="button" color="accent" (click)="cloudQueue()">
                  <mat-icon>cloud_queue</mat-icon>
                </button>
              </div>
              <div class="m-auto">
                <span *ngIf="upload?.url?.length > 0">{{ upload?.name }}</span>
                <button mat-icon-button button1 color="accent" (click)="onClear()" *ngIf="upload?.url?.length > 0 || showClear"><mat-icon>clear</mat-icon></button>
              </div>
            </div>

            <mat-action-row>
              <button mat-button color="accent" type="button" (click)="onSubmit('avatar')">UPDATE</button>
            </mat-action-row>

          </ng-template>
        </mat-expansion-panel>

      </mat-accordion>
    </form>
  </div>

</div>
